.title-1 {
  font-family: $font-family;
  font-size: 45px;
  font-weight: 600;

  @media (max-device-width: $tablet-width) {
    font-size: 25px;
  }

  &--light-theme {
    color: $light-color;
  }

  &--dark-theme {
    color: $dark-color;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.title-2 {
  font-family: $second-family;
  font-size: 22px;
  font-weight: 600;

  @media (max-device-width: $tablet-width) {
    font-size: 18px;
  }
}
