// Шрифты

$font-family: "Inter";
$second-family: "Roboto";
$third-family: "Muller";

// Цветовая палитра

$dark-color: #000000;
$dark-second-color: #6b6b6b;
$dark-support-color: #173483;
$light-color: #ffffff;
$light-second-color: #f0f3f7;
$accent-color: #2d6ac8;
$accent-second-color: #97aac6;

//Viewports

$tablet-width: 1199px;
$mobile-width: 767px;
